---
import Header from "./Header.astro";
import Button from '../components/Button.astro';

import {Image} from "astro:assets";

const title = Astro.props.title;
const call = Astro.props.call;
const text = Astro.props.text;
const bgOne = Astro.props.bgOne;
const bgTwo = Astro.props.bgTwo;
---

<!-- @component START: Cta -->
<section class="grid grid-cols-1 2xl:grid-cols-2 py-6 xl:py-24">
    <div class="flex flex-col justify-center items-start gap-6 pb-24 pt-12 xl:py-24">
        <div class="flex flex-col justify-start relative z-10">
            {title && (
                    <h1 class="font-display text-5xl xl:text-7xl !text-body text-left w-full xl:w-[90%] font-black mb-12">{title}</h1>)}
            {text && (<p class="font-sans text-xl text-left w-full w-full xl:w-[90%] !text-muted">{text}</p>)}
        </div>
        <Button title={call} link="https://tally.so/r/wo1EeP" variant="primary" size="large"/>
    </div>
    {bgOne && bgTwo && (
            <div class="flex flex-row justify-center items-center -space-x-12">
                <div class="w-1/2 rounded-3xl h-[35vw]">
                    <Image src={bgOne} alt="Background"
                           class="w-full h-full object-cover aspect-square rounded-3xl outline-2 outline-offset-2 outline-dashed outline-border -rotate-6 boxShadow"/>
                </div>
                <div class="w-1/2 rounded-3xl h-[35vw]">
                    <Image src={bgTwo} alt="Background"
                           class="w-full h-full object-cover aspect-square rounded-3xl outline-2 outline-offset-2 outline-dashed outline-border rotate-6 boxShadow"/>
                </div>
            </div>
    )}
</section>

<style>
    .boxShadow {
        box-shadow: var(--shadow-card) var(--color-primary-light);
    }
</style>