---
import Badge from "./Badge.astro";
import Button from '../components/Button.astro';

import {Image} from "astro:assets";

const title = Astro.props.title;
const call = Astro.props.call;
const text = Astro.props.text;
const bg = Astro.props.bg;
---

<!-- @component START: Cta -->
<section class="w-full flex flex-col justify-center items-start gap-6 py-24 relative h-screen">
    <div class="flex flex-col justify-start relative z-10">
        {title && (
                <h1 class="font-display text-5xl lg:text-7xl text-background text-left w-full lg:w-1/2 font-black mb-12">{title}</h1>)}
        {text && (<p class="font-sans text-xl text-left w-full lg:w-1/2 text-background">{text}</p>)}
    </div>
    <Button title={call} link="https://tally.so/r/wo1EeP" variant="primary" size="large"/>
    {bg && (
            <div class="w-screen h-full absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 z-0 grainEffect overflow-hidden">
                <Image src={bg} alt="Background" class="w-full h-full object-cover aspect-square"/>
            </div>
    )}
</section>

<style>
    .grainEffect:after {
        content: "";
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
        height: 300%;
        width: 300%;
        top: 0;
        position: fixed;
        opacity: 0.1;
        animation: animateGrain 8s steps(10) infinite;
    }

    @keyframes animateGrain {
        0%, 100% {
            transform: translate(0, 0)
        }
        10% {
            transform: translate(-5%, -10%)
        }
        20% {
            transform: translate(-15%, -20%)
        }
        30% {
            transform: translate(-5%, -10%)
        }
        40% {
            transform: translate(-15%, -20%)
        }

        50% {
            transform: translate(-5%, -10%)
        }
        60% {
            transform: translate(-15%, -20%)
        }
        70% {
            transform: translate(-5%, -10%)
        }
        80% {
            transform: translate(-15%, -20%)
        }
        90% {
            transform: translate(-5%, -10%)
        }
        100% {
            transform: translate(-15%, -20%)
        }
    }
</style>