---
import Button from "./Button.astro";

import {Image} from "astro:assets";

const id = Astro.props.id;
const title = Astro.props.title;
const call = Astro.props.call;
const text = Astro.props.text;
const name = Astro.props.name;
const link = Astro.props.link;

import Moises from "../assets/avatar.jpg"
---

<!-- @component START: CtaCenter -->
<section class="flex flex-col justify-center gap-12 pt-12 pb-12" id={id}>
    <div class="w-full flex flex-col justify-center items-center gap-6 py-24 relative">
        <Image class="h-36 w-36 rounded-3xl object-cover outline-3 outline-offset-3 outline-border outline-dashed rotate-3 boxShadow" src={Moises} alt="Moisés Reis" />
        <div class="flex flex-col justify-center relative z-10 items-center">
            <span class="font-display text-base text-center text-primary font-light mb-6">{name}</span>
            <h1 class="font-display text-5xl lg:text-7xl text-center w-full lg:w-3/4 font-black mb-12">{title}</h1>
            <p class="font-sans text-xl text-center w-full lg:w-3/4 text-muted">{text}</p>
        </div>
        <Button title={call} link={link} variant="tertiary" size="large"/>
    </div>
</section>

<style>
    .boxShadow {
        box-shadow: var(--shadow-card) var(--color-primary-light);
    }
</style>