---
const title = Astro.props.title;
const bg = Astro.props.bg;
const text = Astro.props.text;
const techs = Astro.props.techs;

import Badge from "./Badge.astro";

import {Image} from "astro:assets";
---

<!-- @component START: ServiceCard -->
<div class="p-6 border border-border bg-[#ffffff] relative">
    <h3 class="text-lg font-display font-medium mb-3">{title}</h3>
    <p class="text-base text-muted mb-6">{text}</p>
    <Image src={bg} alt="Background" class="w-full h-fit object-cover aspect-square border border-border mb-1.5"/>
    <div class="flex flex-row gap-1.5 justify-start items-center mt-6">
        <Badge variant="outline" title={techs}/>
    </div>
</div>